.comment {
    margin-bottom: 8px;
    font-size: 0.9rem;
    background-color: #f9f9f9;
    padding: 8px 10px;
    border-radius: 6px;
  
    &__date {
      font-size: 0.75rem;
      color: gray;
      margin-top: 4px;
    }
  }
  